#container{
    margin: 30px;
    width: 500px;
    box-sizing: border-box;
    border: 2px solid rgba(101, 101, 99, 0.34);
    border-radius: 10px;
}
#father2{
    display: flex;
}
#a{
    text-align: center;
    box-sizing: border-box;
    background: #d2cac2;
    height: 70px;
    border-radius: 10px;
    margin: 5px;
    padding-top: 25px;
    border: 2px solid #656563;
}
#father{
    box-sizing: border-box;
    text-align: center;
}
#father1{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.b {
    box-sizing: border-box;
    height: 150px;
    width: 400px;
    border: 2px solid #656563;
    border-radius: 10px;
    background: #588878;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 60px;
}
.target{
    box-sizing: border-box;
    width: 120px;
    height: 100px;
    border: 2px solid #656563;
    border-radius: 10px;
    background: rgba(162, 161, 80, 0.82);
    padding-top: 35px;
}
#f{
    text-align: center;
    box-sizing: border-box;
    background: #d2cac2;
    align-items: stretch;
    border-radius: 10px;
    width: 150px;
    padding-top: 110px;
    border: 2px solid #656563;
    margin: 0px 5px 5px 0px;
}


#container1{
    margin: 30px;
    width: 500px;
    box-sizing: border-box;
    border: 2px solid rgba(101, 101, 99, 0.34);
    border-radius: 10px;
}
#father22{
    display: flex;
}

#father00{
    box-sizing: border-box;
    text-align: center;
}

#a{
    text-align: center;
    box-sizing: border-box;
    background: #d2cac2;
    height: 70px;
    border-radius: 10px;
    margin: 5px;
    padding-top: 25px;
    border: 2px solid #656563;
}


#father11{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    column-gap: 10px;
}
#father111{
    display: flex;
    justify-content: space-between;
    padding: 5px;

}

.target5{
    box-sizing: border-box;
    width: 120px;
    height: 100px;
    border: 2px solid #656563;
    border-radius: 10px;
    background: rgba(162, 161, 80, 0.82);
    padding-top: 35px;
}
#f1{
    text-align: center;
    box-sizing: border-box;
    background: #d2cac2;
    align-items: stretch;
    border-radius: 10px;
    width: 150px;
    padding-top: 80px;
    border: 2px solid #656563;
    margin: 0px 5px 5px 0px;
}

































