.box_1{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    height: 50px;
    width: 900px;
}

.backgr-grey{
    background: #ced8e1;
}

.backgr-black{
    background: rgba(19, 18, 18, 0.66);
}

.backgr-cornflowerblue{
    background: #6a65e2;
}

.box_osnv{
    height: 90px;
    width: 90px;
    border-radius: 10px;


}

.box_osnv_big{
    height: 90px;
    width: 260px;
    border-radius: 10px;

}

.zzz{
    height: 30px;
    width: 100px;
    border-radius: 13px;
}

.baton{
    margin-top: 3px;
}

.box_2{
    display: flex;
    flex-direction: column;
    align-items:center ;
    height: 300px;
    width: 900px;
}

.yyy{
    justify-content: space-between;
    column-gap: 20px;
    display: flex;
    margin-top: 20px;
}

.yyy_1{
    width: 120px;
    height: 30px;
    border-radius: 20px;
}

.gggg{
    text-align: center;
    width: 450px;
}

.bat{
    width: 120px;
    height: 30px;
    border-radius: 20px;

}

.box_3{
    display: flex;
    flex-direction: column;
    align-items:center ;
    height: 1000px;
    width: 900px;
}

.box_3_1{
    display: flex;
    column-gap: 80px;
    position: relative;
    bottom: 45px;
}

.box_3_2{
    display: flex;
    column-gap: 80px;
    margin: 5px;

}

.box_3_4{
    display: flex;
    column-gap: 50px;
    margin-left: 130px;
    margin-right: 130px;


}

.kolo{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.box_3_3_5{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    column-gap: 40px;
}

.box_4{
    box-sizing: border-box;
    display: flex;
    column-gap: 30px;
justify-content: center;
    padding-top: 10px;
    height: 50px;
    width: 900px;
}

.zzz_1{
    height: 25px;
    width: 40px;
    border-radius: 3px;
}







